@use './variables' as *;
@use './fonts' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin list-reset {
  list-style-type: none;
}

@mixin link-reset {
  text-decoration: none;
  color: $color-primary-white;
}

@mixin font-regular {
  font-family: 'AvenirNext LT Pro';
  font-weight: 400;
}

@mixin font-demi {
  font-family: 'AvenirNext LT Pro';
  font-weight: 600;
}

@mixin font-bold {
  font-family: 'AvenirNext LT Pro';
  font-weight: 700;
}


