@use './fonts' as *;
@use './variables' as *;
@use './mixins' as *;

html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  @include font-regular;
  //border: 1px solid gray;
}

// body {
//   // @include font-regular;
//   //color: $color-primary-black;
// }

h1 {
 @include font-demi;
 font-size: 1.5rem;
 line-height: 2rem;
  @include tablet {
    // @include font-bold;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  @include font-demi;
  font-size: 1.5rem;
  line-height: 2rem;
  @include tablet {
    // @include font-bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  @include font-demi;
  font-size: .875rem;
  line-height: 1.375rem;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  @include font-regular;
  //smaller than style-guide
  font-size: .75rem;
  line-height: 1.125rem;
  @include tablet {
    font-size: .875rem;
    line-height: 1.25rem;
  }
}

p {
  font-size: .825rem;
  line-height: 1.125rem;
  @include tablet{
    font-size: .875rem;
    line-height: 1.375rem;
  }
}
