//breakpoints
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1280px;

// colours 
// primary colours
$color-primary-black: #323232;
$color-primary-silver: #AFAFAF;
$color-primary-white: #FFFFFF;
// secondary colours
$color-secondary-dark-black : #000000;
$color-secondary-mercury: #E1E1E1;
$color-secondary-alabaster: #FAFAFA;

