@use './Partials/variables' as *;
@use './Partials/mixins' as *;
@use './Partials/fonts' as *;
@use './Partials/resets' as *;

// .nav {
//   background-color: $color-primary-black;
//   width: 100%;
//   &__container {
//     background-color: $color-primary-black;
//     width: 100%;
//     @include tablet {
//       display: flex;
//       padding: 0rem;
//     }
//     @include desktop {
//       @include margin-auto;
//       max-width: 1154px;
//     }
//   }
//   &__top {
//     @include flex-center;
//     flex-direction: column;
//     padding-top: 1rem;
//     @include tablet {
//       width: 25%;
//       padding: .75rem;
//     }
//     @include desktop {
//       width: 19%;
//     }
//   }
//   &__list{
//     @include list-reset;
//     width: 100%;
//     display: flex;
//     font-size: .825rem;
//     @include tablet {
//       width: 35%;
//       padding: 2rem 2rem 0rem 2rem;
//     }
//     @include desktop {
//       width: 18%;
//       padding-left: 0;
//     }
//   }
//   &__item {
//       padding: .75rem;
//       width: 50%;
//       text-align: center;
//       &:hover {
//         font-style: italic;
//       }
//       @include tablet {
//         padding: 0 0 1.5rem 0;
//       }
//   }
//   &__link {
//     @include link-reset;
//     @include tablet {
//       width: 35%;
//       justify-content: space-between;
//       padding: 0 0 1.35rem 0;
//     }
//     @include desktop {
//       width: 19%;
//       margin-left: 0;
//       padding: 0 0 1.7rem 0;
//     }
//     &--active {
//       @include tablet {
//         border-bottom: 3px solid $color-primary-white;
//       }
//     }
//   }
//   &__active {
//       @include font-demi; //-- no work
//       border-bottom: 3px solid $color-primary-white;
//       padding-bottom: .5rem;
//       @include tablet {
//         border-bottom: none;
//         padding-bottom: 0;
//       }
//     @include desktop {
//         padding-bottom: 1.85rem;
//       }
//     }
// }

.hero {
  max-width: 100%;
  max-height: auto;
    @include tablet {
    width: 100%;
    height: auto;
  }
  @include desktop{
    width: 100%;
    height: auto;
    max-height: 625px;
  }
  &__container{
    width: 100%;
    height: auto; 
     @include tablet {
       height: auto;
      max-height: 518px;
    }
    @include desktop{
      height: auto;
      height: 625px;
      max-height: 625px;
    }
  }
  &__image {
    background-position: 50% 20%;
    width: 100%;
    height: 200px;
    max-height: 445px;
    @include tablet {
      height: auto;
      max-height: 510px;
    }
    @include desktop{
      height: auto;
      max-height: 625px;
    }
  }
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -12.75rem;
    background: rgba(0, 0, 0, 0.4); 
    width: 100%;
    height: auto;
    height: 200px; 
    padding: 1rem;
    @include tablet {
      height: 510px;
      max-height: 510px;
      margin-top: -32.15rem;
    }
    @include desktop{
      height: 625px;
      max-height: 625px;
      margin-top: -39.1rem;
      // margin: 0 auto; ughhh this just messes it up
      padding-left: 6rem;
    }
  }
  &__title {
    @include margin-auto; /// hmmmm doesn't seem to work
    position: absolute;
    color: $color-primary-white;
    z-index: 5;
    padding-left: 1rem;
    @include tablet {
      padding-left: 1.25rem
    }
    @include desktop {
      width: 600px;
      max-width: 1200px;
    }
  }
}

.about {
  width: 100%;
  padding: 1rem;
  @include tablet {
    padding: 2.5rem;
  }
  @include desktop {
    @include margin-auto;
    max-width: 1154px;
  }
  &__title {
    padding: .25rem 0rem;
    color: $color-primary-black;
    margin-bottom: .5rem;
    @include tablet {
      padding-bottom: 2rem;
    }
    @include desktop {
      padding-left: 1rem;
      padding-top: .5rem;
    }
  }
  &__container {
    @include margin-auto;
    width: 100%;
    max-width: 500px;
    @include tablet {
      width: 85%;
      max-width: 800px; //check this
    }

  }
  &__image {
    width: 100%;
    height: 90%;
    max-width: 500px;
    max-height: 250px;
    margin: center;
    @include tablet{
      width: 100%;
      height: 90%;
      max-width: 850px;
      max-height: 475px;
    }
  }

  &__quote {
    padding: .25rem 0rem;
    @include tablet {
      padding-top: 1.5rem;
      font-size: 1.371rem;
    }
    @include desktop {
      width: 75%;
    }
    &--special {
    @include tablet {
      font-size: 1rem;
    }
  }
}
  &__subtitle {
    padding: 1rem 0rem;
    @include tablet {
      padding-top: 2.25rem;
    }
    @include desktop {
      padding-bottom: 1.5rem;
    }
 }
 &__flex-container {
  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
  &__paragraph {
    padding-bottom: .5rem;
    width: 99%;
    @include tablet {
      font-size: .85rem;
      width: 48.5%; 
      padding-bottom: 0rem;
    }
    @include desktop{
      font-size: .897rem;
      width: 49%; 
    }
  }
}

.gallery {
  background-color: $color-secondary-mercury;
  width: 100%;
  padding: 1rem;
  &__title {
    @include tablet {
      padding-left: 2.25rem;
      padding-top: 2rem;
    }
    @include desktop {
      @include  margin-auto;
      padding-left: 7rem;
      padding-bottom: 1.5rem;
      max-width: 1230px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet {
      @include flex-center;
      @include  margin-auto;
      flex-direction: row;
      flex-wrap: wrap;
      padding: .5rem 1rem;
      max-width: 730px;
    }
    @include desktop {
      width: 100%;
      max-width: 1100px;
    }
  }
  &__image {
     height: 158px;
     width: auto;
     margin: .5rem auto;
      filter: grayscale(100);
     @include tablet {
      flex-wrap: wrap;
      height: 120px;
      width: auto;
      margin-top: 2vh;
      max-height: 1300px;
    }
    @include desktop {
      width: auto;
      margin: 0;
      padding: .75rem;
      height: 205px;
    }
    &:hover{
      filter: grayscale(0);
    }
  }
}

// .footer {
//   background-color: $color-primary-black;
//   color: $color-primary-white;
//   padding: 1rem;
//   width: 100%;
//   @include tablet {
//     padding: 2.5rem 2.5rem;
//   }
//   &__top {
//     @include tablet {
//       @include  margin-auto;
//       display: flex;
//       width: 100%;
//       padding-bottom: 2.5rem;
//       max-width: 735px;
//     }
//     @include desktop {
//       max-width: 1010px;
//     }
//   }
//   &__title {
//     padding-top: .5rem;
//     width: 100%;
//     @include tablet {
//       width: 33%;
//       max-width: 235px;
//     }
//     @include desktop {
//       width: 26%;
//     }
//   }
//   &__links {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     @include tablet {
//       width: 66%;
//     }
//       &--social {
//       @include list-reset;
//       display: flex;
//       width: 45%;
//       justify-content: space-between;
//       padding-top: 1rem;
//       @include tablet {
//         padding-top: 1.5rem;
//         width: 25%;
//       }
//       @include desktop {
//         width: 19%;
//       }
//     }
//   }
//   &__link {
//     @include tablet {
//       width: 10%;
//       padding: 0rem;
//     }
//   }
//   &__cards {
//     @include list-reset;
//     @include tablet {
//       @include  margin-auto;
//       display: flex;
//       justify-content: space-between;
//       width: 100%;
//       max-width: 720px;
//     }
//     @include desktop {
//       max-width: 1010px;
//       justify-content: flex-start;
//     }
//   }
//   &__logo {
//     &--top {
//       visibility: hidden;
//       @include tablet {
//         visibility: visible;
//         margin-left: 7rem;
//         margin-top: .85rem;
//       }
//       @include desktop {
//         margin-left: 16.75rem;
//       }
//     }
//     &--bottom {
//       margin-top: 3rem;
//       @include tablet {
//         visibility: hidden;
//         margin-top: 0rem;
//       }
//     }
//   }
//   &__bottom {
//     @include tablet {
//       @include  margin-auto;
//       max-width: 825px;
//     }
//     @include desktop {
//       max-width: 1010px;
//     }
//   }
//   &__copyright {
//     @include  margin-auto;
//     padding-top: .5rem;
//     font-size: .68rem;
//     @include tablet {
//       font-size: .875rem;
//       max-width: 735px;
//     }
//     @include desktop {
//       max-width: 1010px;
//     }
//   }
// }

// .card {
//   padding: .25rem 0rem;
//   margin: 0;
//   @include desktop {
//     margin-right: 4rem;
//   }
//   &__title {
//     @include font-demi;
//     padding: .5rem 0rem;
//     @include tablet {
//       padding: 0rem;
//     }
//   }
//   &__info{
//     padding: .5rem 0rem;
//     @include tablet {
//       padding: .75rem 0rem;
//     }
//   }
//   &__email {
//     padding: .5rem 0rem;
//     @include tablet {
//       padding: .75rem 0rem;
//     }
//   }
//   &__link {
//     @include link-reset;
//   }
// }


