@use './Partials/variables' as *;
@use './Partials/mixins' as *;
@use './Partials/fonts' as *;
@use './Partials/resets' as *;

.hero {
  max-width: 100%;
  max-height: auto;
    @include tablet {
    width: 100%;
    height: auto;
  }
  @include desktop{
    width: 100%;
    height: auto;
    max-height: 625px;
  }
  &__container{
    width: 100%;
    height: auto; 
     @include tablet {
       height: auto;
      max-height: 518px;
    }
    @include desktop{
      height: auto;
      height: 625px;
      max-height: 625px;
    }
  }
  &__image {
    background-position: 50% 20%;
    width: 100%;
    height: 200px;
    max-height: 445px;
    @include tablet {
      height: auto;
      max-height: 510px;
    }
    @include desktop{
      height: auto;
      max-height: 625px;
    }
  }
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -12.75rem;
    background: rgba(0, 0, 0, 0.4); 
    width: 100%;
    height: auto;
    height: 200px; 
    padding: 1rem;
    @include tablet {
      height: 510px;
      max-height: 510px;
      margin-top: -32.15rem;
    }
    @include desktop{
      height: 625px;
      max-height: 625px;
      margin-top: -39.1rem;
      // margin: 0 auto; ughhh this just messes it up
      padding-left: 6rem;
    }
  }
  &__title {
    @include margin-auto; /// hmmmm doesn't seem to work
    position: absolute;
    color: $color-primary-white;
    z-index: 5;
    padding-left: 1rem;
    @include tablet {
      padding-left: 1.25rem
    }
    @include desktop {
      width: 600px;
      max-width: 1200px;
    }
  }
}

.about {
  width: 100%;
  padding: 1rem;
  @include tablet {
    padding: 2.5rem;
  }
  @include desktop {
    @include margin-auto;
    max-width: 1154px;
  }
  &__title {
    padding: .25rem 0rem;
    color: $color-primary-black;
    margin-bottom: .5rem;
    @include tablet {
      padding-bottom: 2rem;
    }
    @include desktop {
      padding-left: 1rem;
      padding-top: .5rem;
    }
  }
  &__container {
    @include margin-auto;
    width: 100%;
    max-width: 500px;
    @include tablet {
      width: 85%;
      max-width: 800px; //check this
    }

  }
  &__image {
    width: 100%;
    height: 90%;
    max-width: 500px;
    max-height: 250px;
    margin: center;
    @include tablet{
      width: 100%;
      height: 90%;
      max-width: 850px;
      max-height: 475px;
    }
  }

  &__quote {
    padding: .25rem 0rem;
    @include tablet {
      padding-top: 1.5rem;
      font-size: 1.371rem;
    }
    @include desktop {
      width: 75%;
    }
    &--special {
    @include tablet {
      font-size: 1rem;
    }
  }
}
  &__subtitle {
    padding: 1rem 0rem;
    @include tablet {
      padding-top: 2.25rem;
    }
    @include desktop {
      padding-bottom: 1.5rem;
    }
 }
 &__flex-container {
  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
  &__paragraph {
    padding-bottom: .5rem;
    width: 99%;
    @include tablet {
      font-size: .85rem;
      width: 48.5%; 
      padding-bottom: 0rem;
    }
    @include desktop{
      font-size: .897rem;
      width: 49%; 
    }
  }
}

.gallery {
  background-color: $color-secondary-alabaster;
  //fix color
  width: 100%;
  padding: 1rem;
  &__title {
    @include tablet {
      padding-left: 1.5rem;
      padding-top: 2rem;
    }
    @include desktop {
      @include  margin-auto;
      padding-left: 7rem;
      padding-bottom: 1.5rem;
      max-width: 1230px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet {
      @include flex-center;
      @include  margin-auto;
      flex-direction: row;
      flex-wrap: wrap;
      padding: .5rem 1rem;
      max-width: 730px;
    }
    @include desktop {
      width: 100%;
      max-width: 1100px;
    }
  }
  &__image {
     height: 158px;
     width: auto;
     margin: .5rem auto;
      filter: grayscale(100);
     @include tablet {
      flex-wrap: wrap;
      height: 120px;
      width: auto;
      margin-top: 2vh;
      max-height: 1300px;
    }
    @include desktop {
      width: auto;
      margin: 0;
      padding: .75rem;
      height: 205px;
    }
    &:hover{
      filter: grayscale(0);
    }
  }
}

.comment {
  padding: 1rem;
  &__title {
    color: $color-primary-black;
    @include tablet {
      padding-left: 2rem;
      padding-top: 2rem;
    }
  }
  &__container { 
    padding: 0rem;
    @include tablet {
      max-width: 580px;
      margin: 0 auto;
   }
  }
  &__card {
    display: flex;
    border-bottom: 1px solid $color-secondary-mercury;
    width: 100%;
    padding: 1rem 0rem;
    // check with a list set
    @include tablet{
      padding: 1.5rem 0rem;
    }
  }
  &__image{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $color-secondary-mercury;
    padding: 1rem;
    @include tablet{
      width: 48px;
      height: 48px;
    }
  }
  &__content {
    padding-left: 1rem;
    width: 100%;
  }
  &__content--top {
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
  }
  &__name {
    @include font-demi;
    color: $color-primary-black;
    font-size: .8rem;
  }
  &__timestamp {
    color: $color-primary-silver;
  }
  &__content--bottom {
    display: flex;
    flex-direction: column;
  }
  &__comment {
    font-size: .79rem;
    @include tablet{
     font-size: .875rem;
    }
  }
}

.form {
  width: 100%;
  //color: $color-primary-black; input color black?
  &__container {
    display: flex;
    padding: 1rem 0rem;
    width: 100%;
    border-bottom: 1px solid $color-secondary-mercury;
    @include tablet {
      max-width: 580px;
      margin: 0 auto;
   }
  }
  &__image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url('../Assets/Images/Mohan-muruge.jpg');
    //object-fit: contain; HMMMM
    padding: 1rem;
    margin-top: 1.25rem;
    @include tablet{
      margin-right: .5rem;
      width: 48px;
      height: 48px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    @include tablet {
      padding-left: .5rem;
   }
  }
  &__title {
    @include font-demi;
    color: $color-primary-silver;
    font-size: .60rem;
    padding-bottom: 4px;
    @include tablet {
      font-size: .72rem;
    }
  }
  &__input{
    display: block;
    margin: .35rem 0rem;
    min-height: 36px;
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 1px solid $color-secondary-mercury;
    border-radius: 4px;
    background-color: $color-secondary-alabaster;
    &:active{
    border: 1px solid $color-primary-black;
    // doesn't seem to work?
    }
    &:hover{
      border: 1px solid $color-primary-black;
      // doesn't seem to work?
    }
    @include tablet {
      min-height: 48px;
      padding: 1rem;
    }
    &--special {
      height: 5.5rem;
    }
  }
  &__button{
    background-color: $color-primary-black;
    border-color: $color-primary-black;
    color: $color-primary-white;
    padding: .5rem;
    border-radius: 4px;
    height: 40px;
    &:hover {
      background-color: $color-secondary-dark-black;
      border-color:  $color-secondary-dark-black;
    }
    @include tablet {
      min-width: 150px;
      max-width: 200px;
      align-self:flex-end;
      padding: .5rem;
      margin: .45rem 0;
      border-radius: 6px;
    }
  }
}
