@use './Partials/variables' as *;
@use './Partials/mixins' as *;
@use './Partials/fonts' as *;
@use './Partials/resets' as *;


.hero {
  max-width: 100%;
  min-height: 280px;
  max-height: 280px;
    @include tablet {
    width: 100%;
    min-height: 300px;
    max-height: 485px;
  }
  @include desktop{
    width: 100%;
    min-height: 625px;
    max-height: 625px;
  }
  &__container{
    width: 100%;
    min-height: 280px;
    max-height: 280px;
    @include tablet {
      width: 100%;
      min-height: 300px;
      max-height: 485px;
    }
    @include desktop {  
      width: 100%;
      min-height: 625px;
      max-height: 625px;
      }
  }
  &__image {
    background-position: 50% 20%;
    width: 100%;
    min-height: 280px;
    max-height: 280px;
    @include tablet {
      width: 100%;
      min-height: 300px;
      max-height: 485px;
    }
      @include desktop {
        width: 100%;
        min-height: 625px;
        height: auto;
        //background-position: 50% 80%;
      }
  }
  &__content {
    position: relative;
    padding: 1rem .75rem;
    display: flex;
    flex-direction: column;
    margin-top: -17.53rem;
    background: rgba(0, 0, 0, 0.3); 
    width: 100%;
    min-height: 280px;
    max-height: 280px;
    @include tablet {
      width: 100%;
      min-height: 485px;
      max-height: 485px;
      margin-top: -30.3rem;
      padding: 3.25rem 2.5rem;
    }
    @include desktop{
      width: 100%;
      min-height: 625px;
      max-height: 625px;
      margin-top: -39.3rem;
      display: flex;
      flex-direction: row;
      padding: 8rem 7rem;
    }
  }
  &__headings {
    height: 50%;
    @include desktop {
      flex-direction: column;
      width: 50%;
      margin: auto 0;
    }
  }
  &__subtitle {
    @include font-regular;
    position: relative;
    color: $color-secondary-alabaster;
    padding-left: .25rem;
    @include tablet {
      padding-left: 0;
    }
    @include desktop {
      width: 100%;
    }
  }
  &__title {
    // @include font-regular;
    @include font-demi;
    width: 70%;
    position: relative;
    color: $color-primary-white; 
    padding: .75rem 0rem;
    @include tablet {
      padding-left: 0;
      margin-top: 0;
      width: 75%;
    }
    @include desktop {
      width: 90%;
    }
  }
  &__music {
    position: relative;
    height: 50%;
    max-width: 100%;
    max-height: 150px;
    @include tablet {
      width: 60%;
      max-height: 37%;
      margin-top: 2rem; 
    }
    @include desktop {
      max-width: 40%;
      margin-left: 6rem;
      margin-top: 9rem; 
    } 
}
}

.shows {
  width: 100%;
  padding: 1rem;
  &__headings {
    @include tablet {
      max-width: 725px;
      margin: 0 auto;
    }
    @include desktop{
      display: flex;
      max-width: 1060px;
      margin: 0 auto;
    }
  }
  &__title {
    color: $color-secondary-dark-black;
    padding: .75rem 0 .25rem 0;
    font-size: 2.5rem;
    max-width: 350px;
    margin: 0 auto;
    @include tablet {
      max-width: 700px;
      margin: 0 auto;
      font-size: 2.25rem;
      padding: 2rem 0 1rem 0rem;
    }
    @include desktop {
      padding-top: 1rem;
      max-width: 10%;
      font-size: 1.85rem;
      margin-left: 0;
    }
  }
  &__subtitle-list {
    @include list-reset;
    display: flex;
    visibility: hidden;
    font-size: 0rem;
    padding: 0;
    height: 0;
    width: 100%;
      @include tablet {
        //@include font-demi;
        color: $color-primary-silver;
        visibility: visible;
        font-size: .725rem;
        padding: 1.5rem 0rem .75rem 1.25rem;
        height: auto;
        max-width: 540px;
        width: 75%;
      }
      @include desktop {
        padding-top: 2rem;
        padding-left: 2rem;
        min-width: 820px;
        max-width: 90%;
      }
    &--element {
      @include tablet{
        width: 33.3%;
      }
      @include desktop {
        max-width: 25.5%;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
    @include tablet {
      max-width: 700px;
      margin: 0 auto;
    }
    @include desktop {
      max-width: 1010px;
      margin: 0 auto;
      padding-left: 18%;
    }
  }
}

.showCard {
  @include font-regular;
  width: 100%;
  color: $color-primary-black;
  border-bottom: 1px solid $color-primary-silver;
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
  @include tablet{
    border-bottom: 1px solid $color-secondary-mercury;
    display: flex;
    padding: 0.35rem;
    padding-left: .25rem;
    justify-content: space-between;
   }
   @include desktop {
    border-bottom: 1px solid $color-primary-silver;
    padding:0;
   }
  &__title {
   color: $color-primary-silver; 
   font-size: .6rem;
   padding: 0;
   @include tablet{
    visibility: hidden;
    font-size: 0rem;
    padding: 0;
    height: 0;
   }
  }
  &__date{
    font-size: .75rem;
    padding: 0;
    padding-bottom: .25rem;
    @include tablet{
      display: flex;
      align-items: center;
      width: 25%;
      font-size: .825rem;
     }
  }
  &__venue{
    color: $color-primary-black;
    font-size: .75rem;
    padding: 0;
    padding-bottom: .25rem;
    @include tablet{
      @include font-regular;
      color: $color-secondary-dark-black;
      display: flex;
      align-items: center;
      width: 25%;
      font-size: .825rem;
     }
  }
  &__location{
    font-size: .75rem;
    padding: 0;
    padding-bottom: 1rem;
    @include tablet{
      @include font-regular;
      color: $color-secondary-dark-black;
      display: flex;
      align-items: center;
      padding-bottom: 0rem;
      width: 25%;
      font-size: .825rem;
     }
  }
   &__button{
      @include link-reset;
      @include font-demi;
      min-width: 100%;
      background-color: $color-primary-black;
      border-color: $color-primary-black;
      color: $color-primary-white;
      padding: .75rem 5.87rem;
      border-radius: 4px;
      margin-bottom: 1.5rem;
      height: 40px;
      font-size: .85rem;
      &:hover {
        background-color: $color-secondary-dark-black;
        border-color:  $color-secondary-dark-black;
      }
      @include tablet {
        @include flex-center;
        min-width: 150px;
        max-width: 190px;
        align-self: flex-end;
        margin:.5rem;
        padding: .5rem;
        border-radius: 4px;
      }
    }
}