@use './Partials/variables' as *;
@use './Partials/mixins' as *;
@use './Partials/fonts' as *;
@use './Partials/resets' as *;


.hero {
  max-width: 100%;
  min-height: 30vh;
  max-height: auto;
  //   @include tablet {
  //   width: 100%;
  //   height: auto;
  // }
  // @include desktop{
  //   width: 100%;
  //   height: auto;
  //   max-height: 625px;
  // }
  &__container{
    width: 100%;
    height: 40vh;
    // max-height: auto;
    //  @include tablet {
    //    height: auto;
    //   max-height: 518px;
    // }
    // @include desktop{
    //   height: auto;
    //   height: 625px;
    //   max-height: 625px;
    // }
  }
  &__image {
    background-position: 50% 20%;
    width: 100%;
    height: 40vh;
    // max-height: auto;
    // @include tablet {
    //   height: auto;
    //   max-height: 510px;
    // }
    // @include desktop{
    //   height: auto;
    //   max-height: 625px;
    // }
  }
  &__content {
    position: relative;
    padding: 1.5rem .75rem;
    display: flex;
    flex-direction: column;
    margin-top: -17.65rem;
    background: rgba(0, 0, 0, 0.3); 
    width: 100%;
    height: 40vh;
    // height: 100%;
    // height: auto;
    // height: 200px; 
    // padding: 1rem;
    // @include tablet {
    //   height: 510px;
    //   max-height: 510px;
    //   margin-top: -32.15rem;
    // }
    // @include desktop{
    //   height: 625px;
    //   max-height: 625px;
    //   margin-top: -39.1rem;
    //   // margin: 0 auto; ughhh this just messes it up
    //   padding-left: 6rem;
    // }
  }
  &__subtitle {
    @include font-regular;
    position: relative;
    color: $color-secondary-alabaster;
    padding-left: .25rem;
  }
  &__title {
    @include font-regular;
    //@include font-demi;
    width: 70%;
    position: relative;
    color: $color-primary-white; 
    padding: 1rem 0rem;
    // @include tablet {
    //   padding-left: 1.25rem
    // }
    // @include desktop {
    //   width: 600px;
    //   max-width: 1200px;
    // }
  }
  &__music {
    position: relative;
    max-width: 100%;
    max-height: 45%;
    @include tablet {
        width: 60%;
        @include desktop {
        }
    }
}
}

.shows {
  width: 100%;
  padding: 1rem;
  &__title {
    color: $color-secondary-dark-black;
    padding: 1rem 0rem;
    font-size: 2rem;
  }
}

.showCard {
  @include font-regular;
  width: 100%;
  color: $color-primary-black;
  border-bottom: 1px solid $color-secondary-mercury;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  &__title {
   color: $color-primary-silver; 
   font-size: .6rem;
   padding: 0;
  }
  &__date{
    font-size: .75rem;
    padding: 0;
    padding-bottom: .5rem;
  }
  &__venue{
    font-size: .75rem;
    padding: 0;
    padding-bottom: .5rem;
  }
  &__location{
    font-size: .75rem;
    padding: 0;
    padding-bottom: 1rem;
  }
  &__button{
    @include link-reset;
    @include font-demi;
    background-color: $color-primary-black;
    color: $color-primary-white;
    font-size: .75rem;
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: 4rem;
    }
}