@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../Assets/Font/band-site-fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../Assets/Font/band-site-fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../Assets/Font/band-site-fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../Assets/Font/band-site-fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../Assets/Font/band-site-fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../Assets/Font/band-site-fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
}

h1 {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 767px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 767px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 767px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 767px) {
  h4 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

p {
  font-size: 0.825rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 767px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.hero {
  max-width: 100%;
  min-height: 30vh;
  max-height: auto;
}
.hero__container {
  width: 100%;
  height: 40vh;
}
.hero__image {
  background-position: 50% 20%;
  width: 100%;
  height: 40vh;
}
.hero__content {
  position: relative;
  padding: 1.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  margin-top: -17.65rem;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 40vh;
}
.hero__subtitle {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  position: relative;
  color: #FAFAFA;
  padding-left: 0.25rem;
}
.hero__title {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  width: 70%;
  position: relative;
  color: #FFFFFF;
  padding: 1rem 0rem;
}
.hero__music {
  position: relative;
  max-width: 100%;
  max-height: 45%;
}
@media screen and (min-width: 767px) {
  .hero__music {
    width: 60%;
  }
}
.shows {
  width: 100%;
  padding: 1rem;
}
.shows__title {
  color: #000000;
  padding: 1rem 0rem;
  font-size: 2rem;
}

.card {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  width: 100%;
  color: #323232;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 1.25rem;
}
.card__title {
  color: #AFAFAF;
  font-size: 0.6rem;
  padding: 0;
}
.card__date {
  font-size: 0.75rem;
  padding: 0;
  padding-bottom: 0.5rem;
}
.card__venue {
  font-size: 0.75rem;
  padding: 0;
  padding-bottom: 0.5rem;
}
.card__location {
  font-size: 0.75rem;
  padding: 0;
  padding-bottom: 1rem;
}
.card__button {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 4rem;
}/*# sourceMappingURL=shows.css.map */