.hero {
  max-width: 100%;
  // align-items: center;
  // max-height: 400px; 
  // position: relative;
  // @include tablet {
  //   // height: 445px;
  //   width: 100%;
  //   height: auto;
  //   max-height: 625px;
  // }
  // @include desktop{
  //   width: 100%;
  //   height: auto;
  //   max-height: 625px;
  //   background-position: 50% 20%;
  //   //check if this works m & t
  // }
  &__container{
    display: flex;
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    z-index: 2;
    // opacity: 0.8;
    height: 190px;
    align-items: center;
    vertical-align: middle;
    // @include tablet {
    //   height: 445px;
    // }
    // @include desktop{
    //   height: 625px;
    // }
  }
  // &__title {
  //   position: absolute;
  //   color: $color-primary-white;
  //   z-index: 5;
  //   padding-left: 1rem;
  //   @include tablet {
  //     padding-left: 2.25rem
  //   }
  //   @include desktop {
  //     padding-left: 7.5rem
  //   }
  &__image {
    // z-index: 1;
    width: 100%;
    height: 90%;
    max-width: 500px;
    max-height: 250px;
    margin: center;
  }
}