@use './Partials/variables' as *;
@use './Partials/mixins' as *;
@use './Partials/fonts' as *;
@use './Partials/resets' as *;

.nav {
  background-color: $color-primary-black;
  width: 100%;
  @include tablet {
    display: flex;
    padding: .75rem;
  }
  @include desktop {
    padding: 1rem 3rem;
    max-width: 1154px;
  }
  &__container {
    background-color: $color-primary-black;
    width: 100%;
    //this is probably a bad practice
  }
  &__top {
    flex-direction: column;
    @include flex-center;
    padding-top: 1rem;
    @include tablet {
      width: 25%;
      padding: .75rem;
    }
    @include desktop {
      width: 20%;
      padding-left: 3.25rem;
    }
  }
  &__list{
    @include list-reset;
    width: 100%;
    display: flex;
    font-size: .825rem;
    @include tablet {
      width: 30%;
      padding: 1rem 2rem;
    }
    @include desktop {
      width: 18%;
      padding-left: 0;
    }
  }
  &__item {
      padding: .75rem;
      width: 50%;
      text-align: center;
      
  }
  &__link {
    @include link-reset;
    @include tablet {
      width: 30%;
      justify-content: space-between;
    }
    @include desktop {
      width: 19%;
      margin-left: 0;
    }
  }
    &__active {
      //font-family: $font-demi; -- no work
      border-bottom: 3px solid $color-primary-white;
      padding-bottom: .5rem;
    @include desktop {
      padding-bottom: 1.85rem;
    }
  }
  &__inactive {
    color: $color-secondary-alabaster;
  }
}

.hero {
  width: 100%;
  background-image: url('../Assets/Images/hero-bio.jpg');
  background-size: cover;
  // height: 11.85rem;
  max-height: auto;
  align-items: center;
  @include tablet {
    height: 445px;
  }
  @include desktop{
    height: 625px;
    background-position: 50% 20%;
    //check if this works m & t
  }
  &__overlay {
    display: flex;
    background-color: $color-primary-black;
    opacity: 0.4;
    height: 190px;
    align-items: center;
    @include tablet {
      height: 445px;
    }
    @include desktop{
      height: 625px;
    }
  }
  &__title {
    color: $color-primary-white;
    // opacity: 1;
    // z-index: 5;
    padding-left: 1rem;
    @include tablet {
      padding-left: 2.25rem
    }
    @include desktop {
      padding-left: 7.5rem
    }
  }
}

.about {
  width: 100%;
  padding: 1rem;
  @include tablet {
    padding: 2.5rem;
  }
  @include desktop {
    max-width: 1154px;
    margin: 0 auto;
  }
  &__title {
    padding: .25rem 0rem;
    color: $color-primary-black;
    margin-bottom: .5rem;
    @include tablet {
      padding-bottom: 2rem;
    }
    @include desktop {
      padding-left: 1rem;
      padding-top: .5rem;
    }
  }
  &__container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    @include tablet {
      width: 85%;
      max-width: 1000px; //check this
      margin: 0 auto;
    }
  }
  &__image {
    width: 100%;
    height: 90%;
    max-width: 500px;
    max-height: 250px;
    margin: center;
    @include tablet{
      width: 100%;
      height: 90%;
      max-width: 1000px;
      max-height: 650px;
    }
  }

  &__quote {
    padding: .25rem 0rem;
    @include tablet {
      padding: .5rem 0rem;
      font-size: 1.371rem;
    }
    @include desktop {
      width: 75%;
    }
    &--special {
    @include tablet {
      font-size: 1rem;
    }
  }
}
  &__subtitle {
    padding: 1rem 0rem;
    @include tablet {
      padding-top: 2.25rem;
    }
    @include desktop {
      padding-bottom: 1.5rem;
    }
 }
 &__flex-container {
  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
  &__paragraph {
    padding-bottom: .5rem;
    width: 99%;
    @include tablet {
      font-size: .85rem;
      width: 48.5%; 
      padding-bottom: 0rem;
    }
    @include desktop{
      font-size: .897rem;
      width: 49%; 
    }
  }
}

.gallery {
  background-color: $color-secondary-mercury;
  width: 100%;
  padding: 1rem;
  &__title {
    @include tablet {
      padding-left: 1.5rem;
      padding-top: 2rem;
    }
    @include desktop {
      padding-left: 7rem;
      padding-bottom: 1.5rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet {
      @include flex-center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: .75rem;
      max-width: 750px;
      margin: 0 auto;
    }
    @include desktop {
      width: 100%;
      max-width: 1550px;
      margin: 0rem;
      padding: 0 5rem 1rem 5rem;
    }
  }
  &__image {
     height: 158px;
     width: auto;
     margin: .5rem auto;
      filter: grayscale(100);
     @include tablet {
      flex-wrap: wrap;
      height: 120px;
      width: auto;
      margin-top: 2vh;
      max-height: 1300px;
    }
    @include desktop {
      width: auto;
      margin: 0;
      padding: .75rem;
      height: 205px;
    }
    &:hover{
      //opacity: 1.0;
      filter: grayscale(0);
    }
  }
}

.footer {
  background-color: $color-primary-black;
  color: $color-primary-white;
  padding: 1rem;
  width: 100%;
  @include tablet {
    padding: 2.5rem 2.5rem;
  }
  &__top {
    @include tablet {
      display: flex;
      width: 100%;
      padding-bottom: 2.5rem;
    }
  }
  &__title {
    padding-top: .5rem;
    width: 100%;
  }
  &__links {
    display: flex;
    flex-direction: row;
    width: 100%;
      &--social {
      @include list-reset;
      display: flex;
      width: 45%;
      justify-content: space-between;
      padding-top: 1rem;
      @include tablet {
        padding-top: 1.5rem; 
        padding-left: 2rem;
        justify-content: flex-start;
      }
    }
  }
  &__link {
    @include tablet {
      width: 10%;
      padding: 0 1rem;
    }
    &--right {
      @include tablet {
        // align-self: flex-end;
      }
    }
  }
  &__cards {
    @include list-reset;
    @include tablet {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 670px;
      margin: 0 auto;
    }
    @include desktop {
      max-width: 800px;
      margin: 0;
    }
  }
  &__logo {
    &--top {
      visibility: hidden;
      @include tablet {
        visibility: visible;
        margin-right: 0rem;
      }
    }
    &--bottom {
      margin-top: 3rem;
      @include tablet {
        visibility: hidden;
        margin-top: 0rem;
      }
    }
  }
  &__copyright {
    padding-top: .5rem;
    font-size: .68rem;
    @include tablet {
      font-size: .875rem;
    }
  }
}

.card {
  padding: .25rem 0rem;
  &__title {
    @include font-demi;
    padding: .5rem 0rem;
    @include tablet {
      padding: 0rem;
    }
  }
  &__info{
    padding: .5rem 0rem;
    @include tablet {
      padding: .75rem 0rem;
    }
  }
  &__email {
    padding: .5rem 0rem;
    @include tablet {
      padding: .75rem 0rem;
    }
  }
}


