@use './Partials/variables' as *;
@use './Partials/mixins' as *;
@use './Partials/fonts' as *;
@use './Partials/resets' as *;

.nav {
  background-color: $color-primary-black;
  @include tablet {
    display: flex;
    padding: .75rem;
  }
  &__top {
    @include flex-center;
    padding-top: 1rem;
    @include tablet {
      width: 25%;
      padding: .75rem;
    }
  }
  &__list{
    @include list-reset;
    display: flex;
    justify-content: space-around;
    font-size: .825rem;
    padding: 0.5rem 0 1rem 0;
    @include tablet {
      width: 30%;
      padding: 1rem 2rem;
    }
  }
  &__link {
    @include link-reset;
    width: 50%;
    padding: 0.5rem 0 .85rem 0;
    @include tablet {
      width: 30%;
      justify-content: space-between;
    }
    &--active {
      border-bottom: 3px solid 
    $color-primary-white;
    width: 100%;
    //come back to this
    }
  }
}

.hero {
  width: 100%;
  &__image {
    display: flex;
    background-image: url('../Assets/Images/hero-bio.jpg');
    // opacity: $color-primary-black 50%;
    background-position: center;
    background-size: cover;
    height: 180px;
    align-items: center;
    @include tablet {
      height: 445px;
    }
  }
  &__title {
    color: $color-primary-white;
    padding-left: 1rem;
    @include tablet {
      padding-left: 2.25rem
    }
  }
}

.about {
  width: 100%;
  padding: 1rem;
  @include tablet {
    padding: 2.5rem;
  }
  &__title {
    padding-bottom: .5rem;
    @include tablet {
      padding-bottom: 2rem;
    }
  }
  &__container {
    @include tablet {
      width: 81%;
      margin: auto;
    }
  }
  &__image {
    width: 100%;
    height: 150px;
    @include tablet {
      height: 300px;
      margin-bottom: 1rem;
    }
  }
  &__quote {
    padding: .25rem 0rem;
    @include tablet {
      padding: .5rem 0rem;
      font-size: 1.371rem;
    }
    &--special {
    @include tablet {
      font-size: 1rem;
    }
  }
}
  &__subtitle {
    padding: 1rem 0rem;
    @include tablet {
      padding-top: 2.25rem;
    }
 }
 &__flex-container {
  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
  &__paragraph {
    padding-bottom: .5rem;
    width: 99%;
    @include tablet {
      font-size: .85rem;
      width: 48.5%; 
      padding-bottom: 0rem;
    }
  }
}

.gallery {
  background-color: $color-secondary-mercury;
  width: 100%;
  padding: 1rem;
  &__title {
    @include tablet {
      padding-left: 1.5rem;
      padding-top: 2rem;
    }
  }
  &__container {
    display: flex;
    width: 100%;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-evenly;
      padding: .75rem;
    }
  }
  &__image {
     height: 158px;
     width: auto;
     margin: .3rem auto;
     @include tablet {
      flex: flex-wrap;
      height: 120px;
      width: auto;
      margin-top: 2vh;
    }
  }
}

.footer {
  background-color: $color-primary-black;
  color: $color-primary-white;
  padding: 1rem;
  width: 100%;
  @include tablet {
    padding: 2.5rem 2.5rem;
  }
  &__top {
    @include tablet {
      display: flex;
      width: 100%;
      padding-bottom: 2.5rem;
    }
  }
  &__title {
    padding-top: .5rem;
  }
  &__links {
    @include list-reset;
    display: flex;
    width: 45%;
    justify-content: space-between;
    padding-top: 1rem;
    @include tablet {
      padding-top: 1.5rem; 
      padding-left: 2rem;
      justify-content: flex-start;
    }
  }
  &__link {
    @include tablet {
      width: 10%;
    }
    &--right {
      @include tablet {
        // align-self: flex-end;
      }
    }
  }
  &__cards {
    @include list-reset;
    @include tablet {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__logo {
    &--top {
      visibility: hidden;
      @include tablet {
        visibility: visible;
        margin-right: 0rem;
      }
    }
    &--bottom {
      margin-top: 3rem;
      @include tablet {
        visibility: hidden;
        margin-top: 0rem;
      }
    }
  }
  &__copyright {
    padding-top: .5rem;
    font-size: .68rem;
    @include tablet {
      font-size: .875rem;
    }
  }
}

.card {
  padding: .25rem 0rem;
  &__title {
    @include font-demi;
    padding: .5rem 0rem;
    @include tablet {
      padding: 0rem;
    }
  }
  &__info{
    padding: .5rem 0rem;
    @include tablet {
      padding: .75rem 0rem;
    }
  }
  &__email {
    padding: .5rem 0rem;
    @include tablet {
      padding: .75rem 0rem;
    }
  }
}


